
.rootFooter {
    display: flex;
    height: 100vh;
    align-items: flex-end;
}

.footerLink {
    display: flex;
    position: relative;
    background-color: #020524;
    justify-content: center;
    width: 100%;
}
