

.rootRegister {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rootForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.input-group {
    height: 3rem;
}